/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
p {
  margin: 0;
}
.spacer {
  flex: 1;
}
.header {
  display: flex;
  align-items: center;
  background-color: #24292E;
  color: white;
  font-weight: 600;
  padding: 16px;
  font-size: 1.5rem;
  fa-icon{
    font-size: 3rem;
    margin: 0 5px;
  }
  .header-item{
    color: #FFF;
    font-weight: 600;
    margin: 0 10px;
  }
}
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}
a:hover {
  color: #125699;
}
.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.interactive {
  &:hover{
    cursor: pointer;
  }
}
